/*Définition des polices personalisées*/ /*Serif - 'Trebuchet MS' police*/
@font-face{
    font-family: 'BallparkWeiner';
    src: url('polices/ballpark.eot');
    src: url('polices/ballpark.eot?#iefix') format('embedded-opentype'),
         url('polices/ballpark.woff') format('woff'),
         url('polices/ballpark.ttf') format('truetype'),
         url('polices/ballpark.svg#BallparkWeiner') format('svg');
    font-weight: normal;
    font-style: normal;}

@font-face{
    font-family: 'Dayrom';
    src: url('polices/dayrom.eot');
    src: url('polices/dayrom.eot?#iefix') format('embedded-opentype'),
         url('polices/dayrom.woff') format('woff'),
         url('polices/dayrom.ttf') format('truetype'),
         url('polices/dayrom.svg#Dayrom') format('svg');
    font-weight: normal;
    font-style: normal;}

/*éléments principaux de la page*/
body {
    background: url(../Pictures/fond_jaune.png);
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: #181818;}

#bloc_page {
    margin: auto;
    width: 900px;}

section h1, footer h1, nav a{
    font-family: 'Dayrom';
    text-transform: uppercase;
    font-weight: normal;}

/*Header*/
header{
    background: url(../Pictures/separateur.png) repeat-x bottom;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;}

#titre_principale{
    display: flex;
    flex-direction: column;}

#logo{
    display: flex;
    flex-direction: row;
    align-items: baseline;}
    
#logo img {
    width: 59px;
    height: 60px;}

header h1{
    font-family: 'BallparkWeiner';
    font-size: 2.5em;
    font-weight: normal;
    margin: 0 0 0 10px;}

header h2{
    font-family: 'Dayrom';
    font-size: 1.3em;
    font-weight: normal;
    margin-top: 0px;}

/*Navigation 760001*/
nav ul{
    display: flex;
    list-style-type: none;}

nav li{
    margin-right: 15px;}

nav a{
    color: #181818;
    font-size: 1.5em;
    text-decoration: none;              /*ENLEVE LES TRAITS SOUS LES LIENS*/
    padding-bottom: 3px;}

nav a:hover{
    color: #760001;
    border-bottom: 3px solid #760001;
}

/*Banière*/
#baniere_image{
    background: url(../Pictures/sanfrancisco.jpg) no-repeat;
    position: relative;
    width: 950px;  /*LARGEUR*/
    height: 219px;
    margin-top: 1.5em;
    border-radius: 3px;
    box-shadow: 4px 4px 4px black;}

#description_baniere{
    position: absolute;
    bottom: 0;
    background-color: rgba(24, 24, 24, 0.8);
    color: white;
    font-size: 1.1em;
    font-family: 'Dayrom';
    font-weight: normal;
    border-radius: 0 0 5px 5px;
    padding-top: 10px;
    padding-left: 7px;
    width: 99.5%;
    height: 33px;}

.bouton_rouge{
    color: white;
    background: url(../Pictures/fond_degraderouge.png);
    border-radius: 3px 3px 3px 3px;
    height: 25px;
    text-decoration: none;
    position: absolute;
    text-align: center;
    padding: 3px 8px 0px 8px;
    font-size: 1.1em;
    right: 10px;
    bottom: 7.5px;
    border: 1px solid #760001;}

.bouton_rouge img{
    border: 0;}

/*Corp*/
/*Footer*/